/*  Class utilitaire */

.bg-N1 {
    background-color: whitesmoke;
}

.bg-N2 {
    background-color: white;
}

.round{
    border-radius: 20px;
}

.champ {
    border-radius: 20px;
    border: 0px solid white;
}

#scrole_articles {
    overflow-y: scroll;
    scrollbar-color: red;
    scrollbar-width: thin;

}
.root{
    background-image: linear-gradient(500deg,transparent,rgb(94, 212, 233));
}
.foote{
    background-color: black;
    color: white;
}
.zone{
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.p{
    font-size: 20px;
}
.icon{
    font-size: 50px;
    color:rgb(16, 113, 151) ;
}